# REST

## 1.Admin

### 1.1 Login

POST http://localhost:9092/admin/login
Content-Type: application/json

{
"email": "[natthapong-w@rmutp.ac.th](mailto:natthapong-w@rmutp.ac.th)",
"password": "@Purnznat06",
"rememberMe": false
}

### 1.2 Register

POST http://localhost:9092/admin/register
Content-Type: application/json

{
"email": "[natthapong-w@rmutp.ac.th](mailto:natthapong-w@rmutp.ac.th)",
"password": "@Purnznat06"
}

### 1.3 Forgot Password

POST http://localhost:9092/admin/forgot-password
Content-Type: application/json

{
"email": "[natthapong-w@rmutp.ac.th](mailto:natthapong-w@rmutp.ac.th)"
}

### 1.4 Profile

GET http://localhost:9092/admin/profile
Authorization: Bearer YOUR_ADMIN_ACCESS_TOKEN

## 2.User

### 2.1 Login

POST http://localhost:9092/api/auth/local
Content-Type: application/json

{
"identifier": "[natthapong-w@rmutp.ac.th](mailto:natthapong-w@rmutp.ac.th)",
"password": "@Purnznat06"
}

### 2.2 Register

POST http://localhost:9092/api/auth/local/register
Content-Type: application/json

{
"username": "natthapong",
"email": "[natthapong-w@rmutp.ac.th](mailto:natthapong-w@rmutp.ac.th)",
"password": "@Purnznat06"
}

### 2.3 Forgot Password

POST http://localhost:9092/api/auth/forgot-password
Content-Type: application/json

{
"email": "[natthapong-w@rmutp.ac.th](mailto:natthapong-w@rmutp.ac.th)"
}

### 2.4 Profile

GET http://localhost:9092/api/users/me
Authorization: Bearer YOUR_USER_ACCESS_TOKEN
# REST API TEST
# Base URL: http://localhost:9092

### =========================
### LOGIN
### =========================
POST http://localhost:9092/admin/login
Content-Type: application/json

{
    "email": "natthapong-w@rmutp.ac.th",
    "password": "@Purnznat06",
    "rememberMe": false
}


### =========================
### REGISTER
### =========================
POST http://localhost:9092/admin/register
Content-Type: application/json

{
    "email": "natthapong-w@rmutp.ac.th",
    "password": "@Purnznat06"
}


### =========================
### FORGOT PASSWORD
### =========================
POST http://localhost:9092/admin/forgot-password
Content-Type: application/json

{
    "email": "natthapong-w@rmutp.ac.th"
}


### =========================
### PROFILE
### =========================
GET http://localhost:9092/admin/profile
Content-Type: application/json
Authorization: Bearer YOUR_ACCESS_TOKEN
